/* LESS Document */
/*Переменные*/
@line:32.5px;

/*Примеси*/
.set-font(@font-size,@line:@line) {
	font-size:@font-size;
	line-height:@line;
	}
.set-margin(@margin-top:@line,@margin-bottom:@line) {
	margin-top:@margin-top;
	margin-bottom:@margin-bottom;
}
//list of fonts which using in document
@font-face {
	font-family:"Roboto Bold";
	src:url("fonts/Roboto Bold/roboto-bold-webfont.woff") format("woff");
}
@font-face {
	font-family:"Roboto Thin";
	src:url("fonts/Roboto Thin/roboto-thin-webfont.woff") format("woff");
}
@font-face {
	font-family:"Roboto Light";
	src:url("fonts/Roboto Light/roboto-light-webfont.woff") format("woff");
}
@font-face {
	font-family:"Roboto Regular";
	src:url("fonts/Roboto Regular/roboto-regular-webfont.woff") format("woff");
}
@font-face {
	font-family:"Roboto Italic";
	src:url("fonts/Roboto Italic/roboto-italic-webfont.woff") format("woff");
}

//design for mobile version
html,body {
	margin:0;
	padding:0;
	font-family:"Roboto Bold","Arial",sans-serif;
	font-size:100%;
	line-height:2.03;
	background-color:white;
	color:black;
.header-page{
	.header-page-top {
		position:fixed;
		top:0;
		left:0;
		right:0;
		z-index:100;
		padding-top:5px;
		background-color:transparent;
		&.scroll-background {
			background-color:#40466b;
		}
		.header-logo{
			width:100px;
			margin-left:15%;
			padding-top:5px;
			text-align:center;
			img {
				max-width:90%;
				height:auto;
			}
		}
		.header-navigation{
			&::before {
				content:"";
				position:absolute;
				top:24%;
				left:2%;
				width:26px;
				height:26px;
				background-image:url("img/list_lines.png");
				background-size:100% 100%;
				cursor:pointer;
			}
			.main-menu{
				display:none;
				position:absolute;
				top:105%;
				left:0;
				margin:0;
				padding:0;
				list-style:none;
				font-size:0.875rem;
				>li{
					position:relative;
					padding:0.267em 0.933em;
					color:black;
					background-color:#FCFF19;
					cursor:pointer;
					a {
						display:block;
						text-transform:uppercase;
					}
					.sub-menu {
						display:none;
						position:absolute;
						top:0;
						left:100%;
						margin:0;
						padding:0;
						width:150%;
						list-style:none;
						border-top-right-radius:0.5em;
						border-bottom-left-radius:0.5em;
						border-bottom-right-radius:0.5em;
						background-color:#FCFF19;
						li {
							padding-left:0.933em;
							margin-top:0.2em;
							margin-bottom:0.2em;
							cursor:pointer;
							a {
								display:block;
								text-decoration:none;
								color:#000000;
							}
						}	
						}
					&:hover {
						.sub-menu {
							display:block;
						}
					}
				}
			}
			&:hover .main-menu {
				display:block;
			} 	
		}
		.purchase-button{
			position:absolute;
			top:31%;
			right:15%;
			width:19px;
			height:19px;
			background-image: url("img/Basket_icon.png");
			background-size:contain;
		}
	}
	
	.slider {
		position:relative;
		input[name="slider-toggle"] {
			display:none;
		}
		.slider-nav {
			label {
				display:none;
				position:absolute;
				top:99.6%;
				width:20%;
				height:4px;
				z-index:1;
				background:#fcff19;
				&:first-child {
					left:0;
				}
				&:nth-child(2) {
					left:20%;
				}
				&:nth-child(3) {
					left:40%;
				}
				&:nth-child(4) {
					left:60%;
				}
				&:last-child {
					left:80%;
				}
			}
		}
		#slide-1:checked ~ .slider-nav label:first-child,
		#slide-2:checked ~ .slider-nav label:nth-child(2),
		#slide-3:checked ~ .slider-nav label:nth-child(3),
		#slide-4:checked ~ .slider-nav label:nth-child(4),
		#slide-5:checked ~ .slider-nav label:last-child {
			display:block;
		}
		.overflow {
			overflow:hidden;
			.slider-inner {
				width:500%;
				transition:transform 1s ease-in-out;
				[class^="slide-"] {
					position:relative;
					display:inline-block;
					width:20%;
					float:left;
					overflow:hidden;
					img {
						display:block;
						width:100%;
						height:auto;
					}
					.promo-content {
						position:absolute;
						top:35%;
						right:0;
						left:0;
						text-align:center;
						color:#ffffff;
						z-index:500;
						h2 {
							margin:0;
							font-size:1.4rem;
							line-height:1.4rem;
							text-align:center;
							text-transform:uppercase;
						}
						p {
							margin:0;
							font-family:"Roboto Thin";
							font-size:0.8rem;;
							span {
								color:#fcff19;
							}
						}
						.button-promo {
							display:inline-block;
							margin-top:0.25em;
							width:10.25em;
							height:3.583em;
							line-height:3.583em;
							box-sizing:border-box;
							border-radius:0.667em;
							font-size:0.5rem;
							text-transform:uppercase;
							text-decoration:none;
							text-align:center;
							background-color:#000000;
							color:#fcff19;
						}
					}
				}
			}
		}
		.slider-controls{
			label {
				display:none;
				width:23px;
				height:23px;
			}
		}
		//previos slide
		#slide-1:checked ~ .slider-controls label:last-child,
		#slide-2:checked ~ .slider-controls label:first-child,
		#slide-3:checked ~ .slider-controls label:nth-child(2),
		#slide-4:checked ~ .slider-controls label:nth-child(3),
		#slide-5:checked ~ .slider-controls label:nth-child(4) {
			display:block;
			position:absolute;
			top:42%;
			left:1.2%;
			z-index:1;
			background:url("img/left_BUTTON_LINK.png") no-repeat 0px 0px;
			background-size:contain;
			cursor:pointer;
		}
		//next slide
		#slide-1:checked ~ .slider-controls label:nth-child(2),
		#slide-2:checked ~ .slider-controls label:nth-child(3),
		#slide-3:checked ~ .slider-controls label:nth-child(4),
		#slide-4:checked ~ .slider-controls label:last-child,
		#slide-5:checked ~ .slider-controls label:first-child {
			display:block;
			position:absolute;
			top:42%;
			right:1.2%;
			z-index:1;
			background:url("img/RIGHT_BUTTON_LINK.png") no-repeat 0px 0px;
			background-size:contain;
			cursor:pointer;
		}
		//switch slides
		#slide-1:checked ~.overflow .slider-inner {
			transform:translateX(0);
		}
		#slide-2:checked ~.overflow .slider-inner {
			transform:translateX(-20%);
		}
		#slide-3:checked ~.overflow .slider-inner {
			transform:translateX(-40%);
		}
		#slide-4:checked ~.overflow .slider-inner {
			transform:translateX(-60%);
		}
		#slide-5:checked ~.overflow .slider-inner {
			transform:translateX(-80%);
		}
	}
}
main{
	.categories {
		display:flex;
		flex-wrap:wrap;
		align-content:flex-start;
		background:url("img/CATEGORIES_BG_IMAGE.jpg") 0px 0px no-repeat;
		background-size:cover; 	
		h2 {
			margin:0;
			margin-top:1em;
			width:100%;
			font-size:1.75rem;
			text-transform:uppercase;
			text-align:center;
		}
		.categories-item {
			position:relative;
			margin:2em auto 2em;
			min-width:288px;
			min-height:239px;
			overflow:hidden;
			&:first-of-type{
				background:transparent url("img/CATEGORIES_PHOTO_01.jpg") 0px 0px no-repeat;
				background-size:contain;
			}
			&:nth-of-type(2) {
				background: transparent url("img/CATEGORIES_PHOTO_02.jpg") 0px 0px no-repeat;
				background-size:contain;
			}
			&:last-of-type {
				background: transparent url("img/CATEGORIES_PHOTO_03.jpg") 0px 0px no-repeat;
				background-size:contain;
			}
			.hover-filter {
				position:absolute;
				top:-56.6%;
				left:0;
				width:100%;
				height:156.6%;
				z-index:1;
				transform: translate(-100%)rotate(-50.3deg);
				transform-origin:right bottom;
				background-color:rgba(252,255,25,0.17);
				transition:transform 0.3s ease-in-out;
			}
			&:hover {
				.hover-filter {
				transform:translate(0)rotate(-50.3deg);
				}
			}
			.content-cat-item {
				position:absolute;
				z-index:2;
				width:100%;
				height:100%;
				padding-top:5.5rem;
				h3 {
					margin:0;
					text-align:center;
					text-transform:uppercase;
					color:#fcff19;
					font-size:0.9375rem;
				}
				p {
					margin:0;	
					font-family:"Roboto Light",sans-serif;
					text-align:center;
					color:white;
				}
				.button {
					display:block;
					margin:1.3333em auto 3.1667em auto ;
					width:10.25em;
					height:3.5833em;
					box-sizing:border-box;
					line-height:3.0833em;
					text-align:center;
					font-size:0.75rem;
					text-decoration:none;
					text-transform:uppercase;
					border:0.25em solid white;
					border-radius:0.667em;
					color:white;
				}
			}
		}
	}
	.popular{
		display:flex;
		flex-wrap:wrap;
		align-content:flex-start;
//		min-height:629px;
		h2 {
			margin:0;
			margin-top:2em;
			width:100%;
			font-size:1.75rem;
			text-transform:uppercase;
			text-align:center;
		}	
		&-item {
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			margin:1em auto 1em;
			width:90%;
			.popular-img {
				max-width:100%;
				height:auto;
			}
			.item-description{
				width:100%;
				font-size:0.9375rem;
				text-align:center;
				h3 {
					margin:0;
					margin-top:5px;
					text-transform:uppercase;
				}
				span {
					font-family:"Roboto Light",sans-serif;
				}
			}
			.order-section {
				margin:0.625rem auto 0;
				.style-of-select{
					position:relative;
					display:inline-block;
					&::after {
						content:"";
						position:absolute;
						top:1px;
						right:2px;
						width:34px;
						height:41px;
						border-radius:8px;
						background:#FFFFFF url("img/select-arrow.png") no-repeat 0px 50% ;
					}
					select{
						display:block;
						padding-left:20px;
						width:142px;
						height:43px;
						box-sizing:border-box;
						font-family:"Roboto Bold",sans-serif;
						font-size:0.75rem;
						text-transform:uppercase;
						border:1px solid #8f8f8f;
						border-radius:8px;
					}
				}
				input[type="submit"] {
					display:inline-block;
					margin-left:6px;
					width:92px;
					height:43px;
					line-height:43px;
					box-sizing:border-box;
					font-family:"Roboto Bold",sans-serif;
					font-size:0.75rem;
					text-transform:uppercase;
					cursor:pointer;
					border-width:0;
					border-radius:8px;
					background-color:#B7B7B7;
					color:#ffffff;
					&:hover {
						background-color:#000000;
						color:#fcff19;
					}
				}
			}
		}
	}	 
	.feedback {
		display:flex;
		justify-content:center;
		max-height:634px;
		background:white url("img/CONTACT_US_BG.jpg") no-repeat 0px 0px;
		background-size:cover;
		.feedback-content{
			width:90%;
			h2 {
				margin-top:1.75rem;
				font-size:1.75rem;
				text-align:center;
				text-transform:uppercase;
			}
			p {
				margin-top:1.75rem;
				padding-left:1.375rem;
				font-family:"Roboto Regular",sans-serif;
				font-size:0.9375rem;
			}
			form {
				position:relative;
				display:flex;
				flex-wrap:wrap;
				margin-top:1.25rem;
				margin-bottom:1.25rem;
				padding-top:1.25rem;
				&::after {
					content:"";
					position:absolute;
					right:1px;
					bottom:66px;
					width:8px;
					height:20px;
					border-bottom-right-radius:7px;
					background-color:white;
					}
				input {
					flex-grow:1;
					margin-bottom:1.3125rem;
					height:3.4167em;
					line-height:3.4167em;
					box-sizing:border-box;
					border:1px solid #dadada;
					border-radius:0.5rem;
					font-family:"Roboto Italic",sans-serif;
					font-size:0.75rem;
					&[name="name"] {
						flex-basis:60%;
						padding-left:2em;
					}
					&[name="surname"] {
						flex-basis:60%;
						padding-left:1.5em;
					}
					&[name="email"] {
						flex-basis:60%;
						margin-bottom:1.125rem;
						padding-left:1.75em;
					}
					&[type="submit"] {
						margin:0;
						height:3.5833em;
						box-sizing:border-box;
						flex-basis:40%;
						font-family:"Roboto Bold",sans-serif;
						background-color:#b7b7b7;
						color:#ffffff;
						&:hover {
							background-color:#000000;
							color:#fcff19;
						}
					}
				}
				textarea[name="message"] {
					flex-grow:1;
					flex-basis:70%;
					margin-bottom:1.375rem;
					padding-left:1.4375rem;
					padding-right:0.625rem;
					padding-top:1.25em;
					padding-bottom:0.75em;
					height:128px;
					box-sizing:border-box;
					border:1px solid #dadada;
					border-radius:8px;
					font-family:"Roboto Italic",sans-serif;
					font-size:0.75rem;
				}
			}
		}
	}
}
.footer-page {
	display:flex;
	height:50px;
	background-color:#FCFF19;
	.footer-logo {
		margin-top:10px;
		margin-left:15%;
		width:90px;
		img{
			margin:0 auto;
			max-width:100%;
			height:auto;
		}
	}
		.footer-navigation{
			display:none;
		}
	}
}
@media (min-width:500px) {
	.header-page{
		.slider-controls{
			label {
				width:35px!important;
				height:35px!important;
			}
		}
	}
	main {
		.feedback {
			min-height:634px!important;
			.feedback-content{
				width:450px!important;
				h2 {
					margin-top:4.0625rem!important;
				}
				p {
					margin-top:2.6875rem!important;
				}
				form{
					input {
						&[name="name"] {
							flex-basis:40%!important;
							margin-right:1.917em;
						}
						&[name="surname"] {
							flex-basis:40%!important;
						}
					}
				}
			}
		}
	}
}
@media (min-width:700px) and (max-width:880px) {
	.promo-content {
		h2 {
			font-size:1.8rem!important;
			line-height:1.8remt!important;
		}
		p {
			font-size:1.2rem!important;
		}
		.button-promo {
			line-height:3.583em;
			font-size:0.6rem!important;
		}				
	}
	.categories {
			min-height:628px;
		}
}
@media (min-width:880px) {
	.header-page{
		.header-page-top {
			display:flex;
			align-items:flex-start;
			justify-content:space-around;
			height:76px;
			.header-logo {
				margin-top:20px!important;
				width:161px!important;
				margin-left:0!important;
				padding-top:0px!important;
				img{
					max-width:100%!important;
					height:auto!important;
				}
			}
			.header-navigation{
				margin-top:31px!important;
				&::before {
					display:none;
				}
				.main-menu{
					display:block!important;
					position:relative!important;
					font-size:0.9375rem!important;
					>li{
						display:inline-block;
						padding:0.267em 0.933em 0.733em 0.933em!important;
						margin-right:0.6em!important;
						border-top-left-radius:0.5em;
						border-top-right-radius:0.5em;
						background-color:transparent!important;
						color:white!important;
						&:hover {
							background-color:#FCFF19!important;
							color:black!important;
						}
						.sub-menu {
							display:none;
							top:100%!important;
							left:0!important;
							padding-top:0.625em!important;
							padding-bottom:0.375em!important;
							width:220px!important;
							border-top-right-radius:0.5em!important;
							border-bottom-left-radius:0.5em!important;
							border-bottom-right-radius:0.5em!important;
							li {
								padding-left:0.8125em!important;
								margin-top:0!important;
								margin-bottom:0.3125em!important;
								&:last-child {
									margin-bottom:0!important;
								}
							}	
						}
						&:hover {
							.sub-menu {
								li {
									&:hover {
										background-color:none;
									}
								}
							}
						}
					}
				}
				&:hover .main-menu {
					display:block;
				} 	
			}
			.purchase-button {
				top:46.05%!important;
				right:5%!important;
				width:26px!important;
				height:26px!important;
			}
		}
	}
		.slider-controls{
				label {
					width:58px!important;
					height:58px!important;
				}
			}

		.promo-content {
			h2 {
				font-size:3.125rem!important;
				line-height:3.125rem!important;
			}
			p {
				margin-top:0.4643em;
				font-size:1.75rem!important;
			}
			.button-promo {
				margin-top:2em;
				line-height:3.583em;
				font-size:0.75rem!important;
			}				
		}
	
	main {
		.categories {
			min-height:628px;
			h2 {
				margin-top:2.5714em!important;
			}
			.categories-item {
				margin-top:2.5714em!important;
				width:347px!important;
				height:288px!important;
				.content-cat-item {
					padding-top:8.3125rem!important;
				}
			}
		}
		.popular {
			justify-content:space-around;
			min-height:629px;
			h2 {
				margin-top:2.6071em!important;
			}
			&-item {
				margin:0!important;
				margin-top:3.125em!important;
				width:40%!important;
				&:last-of-type {
					margin-bottom:1em!important;
				}
			}
		}
	}
	.footer-page {
		justify-content: space-around;
		height:70px!important;
		.footer-logo {
			margin-top:17px!important;
			margin-left:0!important;
			width:115px!important;
		}
			.footer-navigation{
				display:block!important;
				.footer-menu {
					margin:0;
					padding:0;
					margin-top:22px;
					list-style:none;
					font-size:0.9375rem;
					>li {
						display:inline-block;
						padding:0 0.933em!important;
						margin-right:0.6em!important;
						background-color:transparent!important;
						a {
							display:block;
							text-decoration:none;
							text-transform:uppercase;
							color:black!important;
						}
					}
				}
			}
	}
}
